#motto
	img style="float: right; border-radius:10;" src="./bilder/coop-motto.png" 
h1 Välkommen!

p Vi uppskattar att ni väljer att använda vårat verktyg och hoppars att det går bra!
p om ni skulle behöva hjälp så tveka inte att kontakta
a href="http://bit.ly/UJv1Js" kundservice
br
br
br

#forklaring style="position: relative;"
	table style="border: 1px solid black;"
		tr
			th symbol/förkortning
			th förklaring
		tr.uneven
			td style="background-color: grey;"  
				span 
			td 
				span inaktiv leverantör
		tr.even
			td
				span badges
			td 
				span certifieringar
		tr.uneven
			td 
				span flagga
			td
				span
		tr.even
			td
				span reveision
			td
				span


br
br
br
br
br