body {
	background-color: white;
	margin: 0px;
	padding: 0px;
}

#main {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}

#header {
	position: relative;
	height: 157px;
	width: auto;
	margin-top: 0px;
	background-color: rgb(0,153,51);
	border: 1px solid black;
	border-radius: 0 0 10px 10px;
}

#container {
	padding: 20px;
}

#follow {
	position: fixed;
	margin-left: 135px;
	top: 605px;
	padding: 15px;
	border: 1px solid black;
	height: 100px;
	width: 970px;
	background-color: rgb(0,153,51);
	border-radius: 10px 10px 0 0;
}
#stat {
	border: 1px solid grey;
	border-radius: 8px;
	width: 500px;
	height: 50px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
	display: block;
}
#komentarer {
	border: 1px solid grey;
	border-radius: 8px;
	width: 500px;
	height: 50px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
}

#levsince {
	border: 1px solid grey;
	border-radius: 8px;
	width: 100px;
	height: 60px;
	margin: 0px 0px 10px 10px;
	background-color: rgb(230, 230, 230);
}

#cert {
	border: 1px solid grey;
	border-radius: 8px;
	width: 100px;
	height: 60px;
	margin: 0px 0px 10px 10px;
	background-color: rgb(230, 230, 230);
}

#hant {
	border: 1px solid grey;
	border-radius: 8px;
	width: 100px;
	height: 60px;
	margin: 0px 0px 10px 10px;	
	background-color: rgb(230, 230, 230);
}

#pro {
	border: 1px solid grey;
	border-radius: 8px;
	float: left;
	width: 570px;
	height: 600px;
	margin-left: 194px;
}

.uneven td {
	border-right: 1px solid grey;
}

.even td {
	border-right: 1px solid grey; 
}

.uneven {
	margin-bottom: 20px;
}

.even {
	margin-bottom: 20px;
	background-color: rgb(230, 230, 230);
}

#produkt {
	float: left;
	border-radius: 6px 0px 0px 0px;
	border: 1px solid grey;
	display: block;
	width: 283px;
}
#ort {
	float: left;
	border-radius: 0px 6px 0px 0px;
	border: 1px solid grey;
	display: block;
	width: 283px;
}

#follow div {
	position: relative;
	width: 300px;			
}
p.lev-item {
	vertical-align: middle;
}

h1 {
	margin-top: 0px;

}

#header div {
	padding: 5px;
	width: 238px;
	height: 42px;
	display: block;
	float: left;
}

#header a {
	width: 100%;
	height: 100%;
	display: block;
}

#start {
	background-image: url('./bilder/start-btn-up.png');
}
#start:active {
	background-image: url('./bilder/start-btn-p.png');
}

#leverantorer {
	background-image: url('./bilder/lev-up.png');
}

#leverantorer:active {
	background-image: url('./bilder/lev-p.png');
}

#lander {
	background-image: url('./bilder/land-up.png');
}

#lander:active {
	border-right: 1px solid black;
	background-image: url('./bilder/land-p.png');
}

#anvandare {
	background-image: url('./bilder/anv-up.png');
}
#anvandare:active {
	background-image:  url('./bilder/anv-p.png');
}

form {
	margin-left: 7px;
}

a.li {
	color: black;
	text-decoration: none;
}

.lev {
	width: 960px;
	border: 1px solid grey;
	margin-top: 10px;
	margin-bottom:  10px;
}

.lev td, th {
	border: 1px solid grey;
	padding: 5px;
	width: 190px;
}

#logo {
	float: left;
}

#logout input{
	width: 60px;
	height: 25px;
	background-color: rgb(200,50,50);
	border-radius: 12px;
	color: lightgrey;
}

#logout{
	float: right;
	margin: 5px 15px;
}
